.popup {
  font-family: "Inter", Arial, sans-serif;
  display: flex;
  visibility: hidden;
  opacity: 0;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 100;
  transition: visibility 0.3s, opacity 0.6s;

  &.popup__visible {
    visibility: visible;
    opacity: 1;
  }
}

.popup__content {
  max-width: 280px;
  width: 100%;
  background-color: #fff;
  border-radius: 10px;
  position: relative;
  box-sizing: border-box;
  padding: 30px;
  text-align: center;
}

.popup__close_5 {
  width: 25px;
  height: 25px;
  background: transparent url('/images/close.svg') center no-repeat;
  background-size: 25px 25px;
  border: none;
  position: absolute;
  top: 15px;
  right: 15px;
  transform: rotate(90deg);
  transition: opacity 0.3s;
  padding: 0;
  margin: 0;
  cursor: pointer;

  &:hover {
    opacity: 0.6;
  }
}

.popup__title {
  font-size: 18px;
  line-height: 22px;
  margin: 0 0 15px 0;
  color: #333;
}

.message {
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 1.4;
  color: #666;
}

.button {
  width: 100%;
  height: 45px;
  font-size: 16px;
  line-height: 20px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #000;
  border-radius: 8px;
  border: none;
  transition: background 0.3s;
  margin-top: 15px;
  cursor: pointer;
  font-weight: 500;

  &:hover {
    background: rgba(0, 0, 0, 0.8);
  }
}

.popup__button_disabled {
  pointer-events: none;
  background-color: #fff;
  color: #c4c4c4;
  border: solid 1px #c4c4c4;
}