.page {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px;
  box-sizing: border-box;
}

.mainContainer {
  margin: 0;
  width: 100%;
  height: 100%;
  max-width: 400px;
  max-height: 600px;
  display: flex;
  flex-direction: column;
  
  // Для мобильных устройств
  @media (max-width: 480px) {
    max-width: 100%;
    max-height: 100%;
  }
  
  // Для планшетов
  @media (min-width: 481px) and (max-width: 768px) {
    max-width: 90%;
    max-height: 90%;
  }
  
  // Для больших экранов
  @media (min-width: 769px) {
    max-width: 400px;
    max-height: 600px;
  }

  border: 2px solid red;
  background-color: aqua;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  overflow: hidden; // Чтобы скругления работали правильно
}


.mainForm {
  flex: 1;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
}
