.page {
  width: 100%;
  height: 85vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mainForm {
  margin: 0;
  position: relative;
  width: 100%;
  max-width: 400px;
  height: 100%;
  max-height: 500px;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 auto;
  border: 2px solid red;
  background-color: aqua;
}

.version {
  position: absolute;
  bottom: 15px;
  right: 15px;
  margin: 0;
  font-size: small;
}