.button {
  &_reload {
    position: absolute;
    border-radius: 50%;
    font-weight: 800;
    top: 15px;
    left: 15px;
    width: 50px;
    height: 50px;
    box-shadow: 5px 5px 6px 0 #777386;
  }

  &_toggle {
    position: absolute;
    border-radius: 50%;
    font-weight: 800;
    top: 15px;
    right: 15px;
    width: 50px;
    height: 50px;
    box-shadow: 5px 5px 6px 0 #777386;
  }
}

.svg {
  &_img {
    width: 100%;
    height: 100%;
    transform: rotate(0deg);
    transition-duration: 0.3s;

    &_rotate {
      transform: rotate(180deg);
      transition-duration: 0.3s;
    }
  }

  &_toggle {
    width: 100%;
    height: 100%;
    transform: rotate(0deg);
    transition-duration: 0.4s;

    &_rotate {
      transform: rotate(180deg);
      transition-duration: 0.4s;
    }
  }
}